{% extends 'base.html.twig' %}

{% block body %}
    <h1>Players list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Realleagueid</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Role</th>
                <th>Price</th>
                <th>Realteamid</th>
                <th>Joinedat</th>
                <th>Averagegrade</th>
                <th>Averagegradealltime</th>
                <th>Lowestgrade</th>
                <th>Highestgrade</th>
                <th>Mostfrequentgrade</th>
                <th>Injured</th>
                <th>Injureduntil</th>
                <th>Suspended</th>
                <th>Suspendeduntilweek</th>
                <th>Seasongoals</th>
                <th>Seasonassists</th>
                <th>Injuriescount</th>
                <th>Exclusions</th>
                <th>Seasonyellowcards</th>
                <th>Seasonredcards</th>
                <th>Alltimeyellowcards</th>
                <th>Alltimeredcards</th>
                <th>Alltimegoals</th>
                <th>Yearofbirth</th>
                <th>Leftat</th>
                <th>Seasoninjuries</th>
                <th>Alltimeassists</th>
                <th>Seasonowngoals</th>
                <th>Alltimeowngoals</th>
                <th>Seasonminutesplayed</th>
                <th>Alltimeminutesplayed</th>
                <th>Seasonstarts</th>
                <th>Seasonentries</th>
                <th>Alltimestarts</th>
                <th>Alltimeentries</th>
                <th>Away</th>
                <th>Awayuntil</th>
                <th>Alltimeunavailabilityweeks</th>
                <th>Seasonsplayed</th>
                <th>Nationality</th>
                <th>Captain</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td><a href="{{ path('player_show', { 'id': player.id }) }}">{{ player.id }}</a></td>
                <td>{{ player.realLeagueId }}</td>
                <td>{{ player.firstname }}</td>
                <td>{{ player.lastname }}</td>
                <td>{{ player.role }}</td>
                <td>{{ player.price }}</td>
                <td>{{ player.realTeamId }}</td>
                <td>{% if player.joinedAt %}{{ player.joinedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ player.averageGrade }}</td>
                <td>{{ player.averageGradeAllTime }}</td>
                <td>{{ player.lowestGrade }}</td>
                <td>{{ player.highestGrade }}</td>
                <td>{{ player.mostFrequentGrade }}</td>
                <td>{% if player.injured %}Yes{% else %}No{% endif %}</td>
                <td>{% if player.injuredUntil %}{{ player.injuredUntil|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if player.suspended %}Yes{% else %}No{% endif %}</td>
                <td>{{ player.suspendedUntilWeek }}</td>
                <td>{{ player.seasonGoals }}</td>
                <td>{{ player.seasonAssists }}</td>
                <td>{{ player.injuriesCount }}</td>
                <td>{{ player.exclusions }}</td>
                <td>{{ player.seasonYellowCards }}</td>
                <td>{{ player.seasonRedCards }}</td>
                <td>{{ player.allTimeYellowCards }}</td>
                <td>{{ player.allTimeRedCards }}</td>
                <td>{{ player.allTimeGoals }}</td>
                <td>{{ player.yearOfBirth }}</td>
                <td>{% if player.leftAt %}{{ player.leftAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ player.seasonInjuries }}</td>
                <td>{{ player.allTimeAssists }}</td>
                <td>{{ player.seasonOwnGoals }}</td>
                <td>{{ player.allTimeOwnGoals }}</td>
                <td>{{ player.seasonMinutesPlayed }}</td>
                <td>{{ player.allTimeMinutesPlayed }}</td>
                <td>{{ player.seasonStarts }}</td>
                <td>{{ player.seasonEntries }}</td>
                <td>{{ player.allTimeStarts }}</td>
                <td>{{ player.allTimeEntries }}</td>
                <td>{% if player.away %}Yes{% else %}No{% endif %}</td>
                <td>{% if player.awayUntil %}{{ player.awayUntil|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ player.allTimeUnavailabilityWeeks }}</td>
                <td>{{ player.seasonsPlayed }}</td>
                <td>{{ player.nationality }}</td>
                <td>{% if player.captain %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('player_show', { 'id': player.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('player_edit', { 'id': player.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('player_new') }}">Create a new player</a>
        </li>
    </ul>
{% endblock %}
