{% extends 'base.html.twig' %}

{% block body %}
    <h1>Realleague</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ realLeague.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ realLeague.name }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ realLeague.country }}</td>
            </tr>
            <tr>
                <th>Teamamount</th>
                <td>{{ realLeague.teamAmount }}</td>
            </tr>
            <tr>
                <th>Upcomingweek</th>
                <td>{{ realLeague.upcomingWeek }}</td>
            </tr>
            <tr>
                <th>Season</th>
                <td>{{ realLeague.season }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('realleague_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
