{% extends 'base.html.twig' %}

{% block body %}
    <h1>Realteams list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>Rank</th>
                <th>Matchesplayed</th>
                <th>Seasongoalstaken</th>
                <th>Seasongoalsscored</th>
                <th>Seasonvictories</th>
                <th>Seasondraws</th>
                <th>Seasondefeats</th>
                <th>Seasongoalstakenhome</th>
                <th>Seasongoalsscoredhome</th>
                <th>Seasonvictorieshome</th>
                <th>Seasondrawshome</th>
                <th>Seasondefeatshome</th>
                <th>Seasongoalstakenaway</th>
                <th>Seasongoalsscoredaway</th>
                <th>Seasonvictoriesaway</th>
                <th>Seasondrawsaway</th>
                <th>Seasondefeatsaway</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for realTeam in realTeams %}
            <tr>
                <td><a href="{{ path('realteam_show', { 'id': realTeam.id }) }}">{{ realTeam.id }}</a></td>
                <td>{{ realTeam.name }}</td>
                <td>{{ realTeam.country }}</td>
                <td>{{ realTeam.rank }}</td>
                <td>{{ realTeam.matchesPlayed }}</td>
                <td>{{ realTeam.seasonGoalsTaken }}</td>
                <td>{{ realTeam.seasonGoalsScored }}</td>
                <td>{{ realTeam.seasonVictories }}</td>
                <td>{{ realTeam.seasonDraws }}</td>
                <td>{{ realTeam.seasonDefeats }}</td>
                <td>{{ realTeam.seasonGoalsTakenHome }}</td>
                <td>{{ realTeam.seasonGoalsScoredHome }}</td>
                <td>{{ realTeam.seasonVictoriesHome }}</td>
                <td>{{ realTeam.seasonDrawsHome }}</td>
                <td>{{ realTeam.seasonDefeatsHome }}</td>
                <td>{{ realTeam.seasonGoalsTakenAway }}</td>
                <td>{{ realTeam.seasonGoalsScoredAway }}</td>
                <td>{{ realTeam.seasonVictoriesAway }}</td>
                <td>{{ realTeam.seasonDrawsAway }}</td>
                <td>{{ realTeam.seasonDefeatsAway }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('realteam_show', { 'id': realTeam.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
