{% extends 'base.html.twig' %}

{% block body %}
    <h1>Realteam</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ realTeam.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ realTeam.name }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ realTeam.country }}</td>
            </tr>
            <tr>
                <th>Rank</th>
                <td>{{ realTeam.rank }}</td>
            </tr>
            <tr>
                <th>Matchesplayed</th>
                <td>{{ realTeam.matchesPlayed }}</td>
            </tr>
            <tr>
                <th>Seasongoalstaken</th>
                <td>{{ realTeam.seasonGoalsTaken }}</td>
            </tr>
            <tr>
                <th>Seasongoalsscored</th>
                <td>{{ realTeam.seasonGoalsScored }}</td>
            </tr>
            <tr>
                <th>Seasonvictories</th>
                <td>{{ realTeam.seasonVictories }}</td>
            </tr>
            <tr>
                <th>Seasondraws</th>
                <td>{{ realTeam.seasonDraws }}</td>
            </tr>
            <tr>
                <th>Seasondefeats</th>
                <td>{{ realTeam.seasonDefeats }}</td>
            </tr>
            <tr>
                <th>Seasongoalstakenhome</th>
                <td>{{ realTeam.seasonGoalsTakenHome }}</td>
            </tr>
            <tr>
                <th>Seasongoalsscoredhome</th>
                <td>{{ realTeam.seasonGoalsScoredHome }}</td>
            </tr>
            <tr>
                <th>Seasonvictorieshome</th>
                <td>{{ realTeam.seasonVictoriesHome }}</td>
            </tr>
            <tr>
                <th>Seasondrawshome</th>
                <td>{{ realTeam.seasonDrawsHome }}</td>
            </tr>
            <tr>
                <th>Seasondefeatshome</th>
                <td>{{ realTeam.seasonDefeatsHome }}</td>
            </tr>
            <tr>
                <th>Seasongoalstakenaway</th>
                <td>{{ realTeam.seasonGoalsTakenAway }}</td>
            </tr>
            <tr>
                <th>Seasongoalsscoredaway</th>
                <td>{{ realTeam.seasonGoalsScoredAway }}</td>
            </tr>
            <tr>
                <th>Seasonvictoriesaway</th>
                <td>{{ realTeam.seasonVictoriesAway }}</td>
            </tr>
            <tr>
                <th>Seasondrawsaway</th>
                <td>{{ realTeam.seasonDrawsAway }}</td>
            </tr>
            <tr>
                <th>Seasondefeatsaway</th>
                <td>{{ realTeam.seasonDefeatsAway }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('realteam_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
