{% extends 'base.html.twig' %}

{% block body %}
    <h1>Realmatches list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Realleagueid</th>
                <th>Hometeamid</th>
                <th>Awayteamid</th>
                <th>Hometeamrank</th>
                <th>Awayteamrank</th>
                <th>Hometeamscore</th>
                <th>Awayteamscore</th>
                <th>Played</th>
                <th>Week</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for realMatch in realMatches %}
            <tr>
                <td><a href="{{ path('realmatch_show', { 'id': realMatch.id }) }}">{{ realMatch.id }}</a></td>
                <td>{{ realMatch.realLeagueId }}</td>
                <td>{{ realMatch.homeTeamId }}</td>
                <td>{{ realMatch.awayTeamId }}</td>
                <td>{{ realMatch.homeTeamRank }}</td>
                <td>{{ realMatch.awayTeamRank }}</td>
                <td>{{ realMatch.homeTeamScore }}</td>
                <td>{{ realMatch.awayTeamScore }}</td>
                <td>{% if realMatch.played %}Yes{% else %}No{% endif %}</td>
                <td>{{ realMatch.week }}</td>
                <td>{% if realMatch.date %}{{ realMatch.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('realmatch_show', { 'id': realMatch.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
